//color
//primary
$primary-white: #fff;
$primary-black: #151417;

//secondary
$secondary-white: #f5f5f5;
$secondary-black: #131313;
//transition
$transition-def: all 0.3s ease-in-out;
$transition-slow: all 1s ease-in-out;
