//- page-a.pug
extends layout/layout

block content    
    include modules/cover/cover_mod
    include modules/bestseller/bestseller_mod
    include modules/brand/brand_mod
    include modules/partners/partners_mod
    include modules/form/form_mod